extends layout

block content

  div(ng-view)

  script(src='javascripts/lib/angular/angular.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular-resource.min.js');
  script(src='javascripts/angie.js')
  script(src='controller//UsersController.js')
  script(src='controller/ChannelsController.js')
  script(src='model/ChannelModel.js')
  script(src='model/UserModel.js')