body {
  padding: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: lightgray;
}

a {
  color: #00B7FF;
}

.users {
	float: right;
	background: lightgray;
	border-radius: 5px;
	padding: 10px;
}

ul {
    list-style-type: none;
}

input {
	min-height: 30px;
	min-width: 180px;
	margin: 10px 0;
}

button {
	min-height: 30px;
	font-weight: bold;
	font-size: 17px;
}

.container {
	width: 900px;
	margin: auto;
	background: gainsboro;
	padding: 10px;
	border: 1px solid darkgray;
	border-radius: 5px;
}

.errors {
	display: block;
	font-size: 10px;
	color: red;
}

.noerror {
	display: none;
	font-size: 10px;
	color: red;	
}