<div class="container">
  <h1>#{{channelName}}</h1>
    
  <div ng-controller="StreamMessagesController">
    <div class="users">
      <p>Users:</p>
      <ul>
        <li class='chatper' ng-repeat='member in msg.members'>
          <p>{{member}}</p>
        </li>
      </ul>
    </div>

    <div class="messages">
      <h2>Messages:</h2>
      <ul>
        <li class='chatper' ng-repeat='m in msg.message'>
          <p><b>{{m.poster}}</b>: {{m.message}}</p>
        </li>
      </ul>  
    </div>
  </div>  
  <label for='loginnametext'>Chat:</label>
  <input type="text" id='chatmsg' ng-model='chatmsg' on-keyup="doChat();chatmsg.focus();" keys="[13]" autofocus></input>
  <button ng-click='doChat();chatmsg.focus();' ng-disabled='!chatmsg'>Send</button>
  </br>
  <button ng-click='leaveChannel()'>Leave this channel</button>
</div>
