|<!-- TODO:  loggedInUserId seems to be undefined!? -->
<p>You are logged in as <b>{{loggedInUserId}} </b>      (...the login name should not be undefined!)</p>
<p>
  <a href='#/addChannel/{{loggedInUserId}}'>Create a new channel</a>
</p>
<p>
  List of available channels:
</p>
<ul>
  <li class='channels' ng-repeat='channel in channels | orderBy:"name"'>
    <h2>{{channel.name}}</h2>
    <p>Owner of the channel is: {{channel.ownerId}}</p>
    <!-- <p>{{channel.description}}</p>  -->
    <p>
      <a href='#/channel/{{channel.name}}'>
        {{channel.members.length}}
        <span ng-show='channel.members.length == 1'>member joined</span>
        <span ng-show='channel.members.length != 1'>members joined</span>
      </a>
      |<!-- TODO:  joinChannel stuff -->
      <a href='#/joinChannel/{{channel.name}}/{{loggedInUserId}}'>join this channel</a>
      <button ng-click='joinChannel(channel.name)'>ChannelModel.addChannelMember test</button>
    </p>
   
  </li>
</ul>
